<div class="col-lg-12">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- CREDIT CARD FORM STARTS HERE -->
    <div class="panel panel-default credit-card-box">
      <div class="panel-heading display-table">
        <div class="row display-tr">
          <h3 class="panel-title display-td text-center"><%= t('Payment Details') %></h3>
          <div class="display-td text-center">
            <span class="danger" style="color:red">Only tunisian e-dinar cart accepted, for cheque and international please <%= link_to 'contact', company_page_path('contact') %> </span>


            <img class="img-responsive pull-right" style="height: 35px;
                margin-right: 14px;
                border-radius: 4px;" src="<%= asset_path('business/e-dinar.jpeg')%>">
          </div>
        </div>
      </div>
      <div class="panel-body">
        <%= form_tag(dashboard_upgrade_path, method: :post) do %>
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="cardNumber"><%= t('Card number') %></label>
                <div class="input-group">
                  <input
                  type="tel"
                  class="form-control"
                  name="cardNumber"
                  placeholder="<%= t('Card number') %>"
                  autocomplete="cc-number"
                  required autofocus
                  />
                  <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-7 col-md-7">
              <div class="form-group">
                <label for="cardExpiry"><%= t('Expiration date') %></label>
                <input
                type="tel"
                class="form-control"
                name="cardExpiry"
                placeholder="MM / YY"
                autocomplete="cc-exp"
                required
                />
              </div>
            </div>
            <div class="col-xs-5 col-md-5 pull-right">
              <div class="form-group">
                <label for="cardCVC"><%= t('CV CODE') %></label>
                <input
                type="tel"
                class="form-control"
                name="cardCVC"
                placeholder="CVC"
                autocomplete="cc-csc"
                required
                />
              </div>
            </div>
          </div>
          <!--
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="couponCode"><%= t('COUPON CODE') %></label>
              <input type="text" class="form-control" name="couponCode"/>
            </div>
          </div>
        </div>
        -->

          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success btn-lg btn-block" type="submit"><%= t('Recharge my offer') %></button>
            </div>
          </div>
          <div class="row" style="display:none;">
            <div class="col-xs-12">
              <p class="payment-errors"></p>
            </div>
          </div>
        <% end %>
        <br/>
        <div class="text-center">
          <%= form_tag(dashboard_go_free_path, method: :post) do %>
              <button class="btn btn-success btn-sm" type="submit"><%= t('Stay basic') %></button>
          <% end %>
        </div>
      </div>
    </div>
    <!-- CREDIT CARD FORM ENDS HERE -->

  </div>

  <div class="col-lg-2"></div>

</div>