<!--  About Section  -->
<div class="container">
		<div class="row">
			<h1><%= I18n.t('Engage') %></h1>
			<div class="col l6 m12 s12 text-center animated wow fadeInLeft">
				<div class="iphone">
					<img src="/assets/welcome/iphone.png" alt="" title="">
				</div>
			</div>
			<div class="col l6 m12 animated wow fadeInRight">
				<div class="features_list">
					<h1 class="text-uppercase">Build your social brand network.</h1>
					<p>Seuismod ligula ipsum vulputate tellus quisque dictum tortor at purus faucibus tincidunt, pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
					<ul class="list-unstyled">
						<li>
              <i class="small material-icons">insert_chart</i>
              <span>All around you, hunt the offers in real time.</span>
            </li>
						<li>
              <i class="small material-icons">group_chart</i>
							<span>Engage a brand community.</span>
						</li>
						<li>
              <i class="small material-icons">map_chart</i>Be the first.
							<span></span>
						</li>
					</ul>
					<div class="text-center">
						<a href="#" class="app_store_btn text-uppercase" id="play_video" data-video="http://www.youtube.com/embed/Bm3NV3gGB2w?autoplay=1&showinfo=0">
							<i class="play_icon"></i>
							<span>About Video</span>
						</a>
					</div>

				</div>
			</div>
		</div>

	</div>

<!--  Email Subscription Section  -->
<section class="row white" id="request_business">
  <div class="container">
    <h1 class="cta_text animated wow fadeInDown teal-text">Are you interested, just register your email and we contact you!</h1>
    <%= form_tag '/business/contact', authenticity_token: 'external_token', 'class'=>" animated wow fadeIn", 'data-wow-duration'=>"2s", 'id'=>"submit_form" do %>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">Textarea</label>
          </div>
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="<%= I18n.t('Please Enter A Valid Email.') %>" data-success="">Email</label>
          </div>
        <div class="input-field center col s12">
          <input type="submit" value="<%= I18n.t("go") %>" class="btn-success btn">
        </div>
        </div>
    <% end %>
  </div>

</section>

<%= render :partial => "web/company/partials/features" %>

<%= render :partial => "web/company/partials/prices" %>
