<div class="card">
  <h4 class="header">
    <%= t('Information') %>
  </h4>
  <div class="content">
    <%= t('Company name') %><br>
    <b><%= @request.company_name %></b>
    <br/>

    <%= t('Business phone') %><br>
    <b><%= @request.business_phone %></b>

    <br/>

    <%= t('Business Email') %><br>
    <b><%= @request.business_email %></b>

    <br/>
    <%= t('Counrtry') %><br>
    <b><%= @request.country %></b>

    <br/>
    <%= t('Zip code') %><br>
    <b> <%= @request.post_code %></b>
    <br/>

    <%= t('City') %><br>
    <b><%= @request.city %></b>

    <br/>
    <%= t('Address') %><br>
    <b><%= @request.company_address %></b>

    <br/>
    <div class="text-center">
      <%= link_to t('Accept'), accept_admin_business_request_path(@request), method: :patch, data: {confirm: 'Are you sure to accept ?'}, class: 'btn btn-success' %></td>

      <%= link_to t('Decline'), decline_admin_business_request_path(@request), method: :patch, data: {confirm: 'Are you sure to decline ?'}, class: 'btn btn-danger' %></td>
      <%= link_to t('Back'), admin_business_requests_path %>
    </div>

  </div>

</div>