<%= form_for([:dashboard, @products_collection]) do |f| %>
    <% if @errors && @errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@errors.count, "error") %> prohibited this brand from being saved:</h2>

          <ul>
            <% @errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="form-group col-lg-12">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control border-input", placeholder: 'Valentine\'s day, Promotion, ..., inguration ... ' %>
      </div>
    </div>
    <div class="col-lg-12">
      <%= f.label :products %><br>
      <%= f.collection_check_boxes(:product_ids, current_brand.products, :id, :name) do |fcb| %>
          <div class="col-lg-4">

            <%= fcb.label { fcb.check_box + '  ' + fcb.text.capitalize } %>

          </div>

      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
      <%= f.submit :class => 'btn btn-primary' %>
      <%- unless @hide_back %>
          <%= link_to t('Back'), dashboard_products_collections_path %>
      <% end -%>
    </div>

    <div class="clearfix"></div>
<% end %>