<%= form_for([:dashboard, @coupon]) do |f| %>
    <% if @errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@errors.count, "error") %> prohibited this brand from being saved:</h2>

          <ul>
            <% @errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="form-group col-lg-6">
        <%= f.label :value %><br>
        <%= f.text_field :value, class: "form-control border-input" %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="text-center">
      <%= f.submit :class => 'btn btn-primary' %>
      <%- unless hide_back %>
          <%= link_to t('Back'), dashboard_products_path %>
      <% end -%>
    </div>

    <div class="clearfix"></div>
<% end %>