<%= form_for ([:dashboard, @brand]) do |f| %>
    <% if @brand.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

          <ul>
            <% @brand.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="form-group col-lg-6">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control border-input' %>
      </div>
    </div>
    <!--
    <div class="field form-group">
      <%= f.label :cover %><br>
      <%= f.file_field :cover %>
    </div>-->
    <div class="text-center">
      <%= f.submit :class => 'btn btn-info btn-fill btn-wd' %>
    </div>
<% end %>
