
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Striped Table</h4>
            <p class="category">Here is a subtitle for this table</p>
            <%= link_to 'New Product', new_dashboard_brand_path %>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-striped">
              <thead>
              <th><%= t('ID') %></th>
              <th><%= t('Name') %></th>
              <th><%= t('Salary') %></th>
              <th><%= t('Country') %></th>
              <th><%= t('City') %></th>
              </thead>
              <tbody>

              <% @brands.each do |brand| %>
                  <tr>
                    <td><%= brand.account_id %></td>
                    <td><%= brand.name %></td>
                    <td><%= link_to t('Show'), dashboard_brand_path(brand) %></td>
                    <td><%= link_to t('Edit'), edit_dashboard_brand_path(brand) %></td>
                    <td><%= link_to t('Destroy'), dashboard_brand_path(brand), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>