<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<%= link_to 'Add store', new_dashboard_brand_store_path(@brand), class: 'btn btn-info btn-fill btn-wd' %>
<%= link_to 'Edit', edit_dashboard_brand_path(@brand) %> |
<%= link_to 'Back', dashboard_brands_path %>