<% content_for :scripts do %>
    <%= javascript_include_tag 'components/user/products/index', "data-turbolinks-track" => true %>
    <script>
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-grey',
        radioClass: 'iradio_square-grey'
      });
    </script>
    <% render partial: 'shared/requires_map_libs' %>
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="assets/products/restaurant_top.jpg" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-1">
    <div class="animated fadeInDown">
      <h1>Paris Restaurants</h1>
      <p>Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
    </div>
  </div>
</section><!-- End section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><%= t('Brands') %></li>
    </ul>
  </div>
</div><!-- Position -->

<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">
  <div class="row">
    <aside class="col-lg-3 col-md-3">
      <p>
        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="<%= t('Hide map') %>" data-text-original='<%= t("View on map")%>'><%= t('View on map')%></a>
      </p>

      <%= render :partial => 'web/products/categories' %>

      <div id="filters_col">
        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters
          <i class="icon-plus-1 pull-right"></i></a>
        <div class="collapse" id="collapseFilters">
          <div class="filter_type">
            <h6><%= I18n.t("Price") %></h6>
            <input type="text" id="range" name="range" value="">
          </div>
          <div class="filter_type">
            <h6><%= I18n.t("Rating") %></h6>
            <ul>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i>
						</span></label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i>
						</span></label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i>
						</span></label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
						</span></label></li>
              <li><label><input type="checkbox"><span class="rating">
						<i class="icon-smile voted"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i><i class="icon-smile"></i>
						</span></label></li>
            </ul>
          </div>
        </div><!--End collapse -->
      </div><!--End filters col-->
      <%= render 'shared/help/index' %>
    </aside><!--End aside -->
    <div class="col-lg-9 col-md-9">

      <div id="tools">
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <input placeholder="search" style="width:100%;height:100%;border:none"/>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select name="sort_price" id="sort_price">
                <option value="" selected>Sort by price</option>
                <option value="lower">Lowest price</option>
                <option value="higher">Highest price</option>
              </select>
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="styled-select-filters">
              <select name="sort_rating" id="sort_rating">
                <option value="" selected>Sort by ranking</option>
                <option value="lower">Lowest ranking</option>
                <option value="higher">Highest ranking</option>
              </select>
            </div>
          </div>

          <div class="col-md-3 col-sm-3 hidden-xs text-right">
            <a href="all_hotels_grid.html" class="bt_filters"><i class="icon-th"></i></a>
            <a href="#" class="bt_filters"><i class=" icon-list"></i></a>
          </div>
        </div>
      </div><!--/tools -->

      <div id="list">

      </div>
      <!--End strip -->

      <hr>

      <!--<div class="text-center">-->
      <!--<ul class="pagination">-->
      <!--<li><a href="#">Prev</a></li>-->
      <!--<li class="active"><a href="#">1</a></li>-->
      <!--<li><a href="#">2</a></li>-->
      <!--<li><a href="#">3</a></li>-->
      <!--<li><a href="#">4</a></li>-->
      <!--<li><a href="#">5</a></li>-->
      <!--<li><a href="#">Next</a></li>-->
      <!--</ul>-->
      <!--</div>&lt;!&ndash; end pagination&ndash;&gt;-->

    </div><!-- End col lg-9 -->

  </div><!-- End row -->
</div><!-- End container -->
<template>
  <div class="strip_all_tour_list wow fadeIn item_template" data-wow-delay="0.1s">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="wishlist">
          <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span class="tooltip-back">Add to wishlist</span></span></a>
        </div>
        <div class="img_list">
          <a href="{{App.Helpers.getAbsoluteUrl(App.Routes.showProduct, { 'id' : id })}}">
          <div class="ribbon top_rated"></div>
          <img src="{{App.Helpers.getMediaUrl(pictures[0].file.url)}}" alt="Image">
          <div class="short_info"></div>
          </a>
        </div>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="tour_list_desc">
          <div class="score">Very Good<span>8.0</span></div>
          <div class="rating">
            <i class="icon-star voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i><i class="icon-star  voted"></i>
          </div>
          <h3><strong>{{info.name}}</strong> Hotel</h3>
          <p>Lorem ipsum dolor sit amet, quem convenire interesset ut vix, ad dicat sanctus detracto vis. Eos modus
            dolorum...</p>
          <ul class="add_info">
            <li>
              <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Free Wifi"><i class="icon_set_1_icon-86"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Plasma TV with cable channels"><i class="icon_set_2_icon-116"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Swimming pool"><i class="icon_set_2_icon-110"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Fitness Center"><i class="icon_set_2_icon-117"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="tooltip-1" data-placement="top" title="Restaurant"><i class="icon_set_1_icon-58"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2">
        <div class="price_list">
          <div><sup>$</sup>{{info.new_price}}<span class="normal_price_list">{{info.old_price}}</span>
            <small>*From/Per night</small>
            <p><a href="<%= url_for('products') %>/{{info.id}}" class="btn_1">Details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>