<%= render 'shared/not_in_beta' %>

<%= render 'what' %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="content">
        <div class="content table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
            <th><%= t('Team') %></th>
            </thead>
            <% @members.each do |member| %>
                <tr>
                  <td><%= member.username %>
                    <%- if member.id.equal?(current_user.id) %> <span class="label label-info">you</span>
                    <% end -%></td>
                  <td>
                    <% if member.is_brand_admin %>
                        <!--<%= form_for(@model, url: set_admin_dashboard_team_path(member), method: :post) do |f| %>
                            <%= f.submit :class => 'btn btn-info btn-sm', disabled: 'disabled' %>
                        <% end %>-->
                        <label class="label-info label" style="color: white">Admin</label>
                    <% else %>

                    <% end %>
                  </td>
                  <td>
                    <% unless member.is_brand_admin %>
                        <%= link_to t('Destroy'), dashboard_team_path(member), method: :delete, data: {confirm: 'Are you sure?'} %></td>
                    <% end %>
                    </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= render 'new' %>
      <div class="clearfix"></div>
      <br/>
    </div>
  </div>
</div>