<% content_for :scripts do %>
    <% render partial: 'shared/requires_map_libs' %>
    <%= javascript_include_tag 'components/user/brands/index', "data-turbolinks-track" => true %>
<% end %>
<section class="parallax-window" data-parallax="scroll" data-image-src="<%= get_assets_url(@brand.cover.to_s) %>" data-natural-width="1400" data-natural-height="470">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <span class="rating"><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class="icon-star voted"></i><i class=" icon-star-empty"></i></span>
          <h1><%= @brand.name %></h1>
          <span><%= @brand.business_profile.full_address %></span>
        </div>
        <div class="col-md-4 col-sm-4">
          <%= render 'web/brands/social_links' %>
        </div>
      </div>
    </div>
  </div>
</section><!-- End section -->

<div id="position">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Category</a></li>
      <li>Page active</li>
    </ul>
  </div>
</div><!-- End Position -->


<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div><!-- End Map -->

<div class="container margin_60">
  <div class="row">
    <div class="col-md-8" id="single_tour_desc">
      <div id="single_tour_feat">
        <ul>
          <% @brand.features.each do |feature| %>
              <li><i class="<%= feature.icon %>"></i><%= humanize_feature_name(feature) %></li>
          <% end %>
        </ul>
      </div>
      <p class="visible-sm visible-xs">
        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="<%= t('Hide map')%>" data-text-original="<%= t('Locations')%>"><%= t('Locations')%></a></p><!-- Map button for tablets/mobiles -->
      <%= render 'web/brands/details' %>

      <hr>
      <%= render 'web/brands/reviews/index' %>

    </div><!--End  single_tour_desc-->

    <aside class="col-md-4">
      <p class="hidden-sm hidden-xs">
        <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="<%= t('Locations')%>"><%= t('Locations')%></a>
      </p>
      <%= render 'web/brands/booking' %>
    </aside>
  </div><!--End row -->
</div><!--End container -->
<% content_for :scripts do %>
    <script>
      $(document).ready(function () {
        var mapList = new MapList({
          url: App.Helpers.formatApiUrl(App.Routes.brandLocations, {id: <%= @brand.id %>}),
          listName: 'stores',
          icon : '<%= get_assets_url(@brand.picture.to_s) %>'
        });
      });
    </script>
<% end %>