<table class="table table-striped">
  <thead>
  <th><%= t('Email') %></th>
  <th><%= t('created at') %></th>
  <th></th>
  </thead>
  <tbody>

  <% @contacts.each do |item| %>
      <tr>
        <td><%= item.email %></td>
        <td><%= item.created_at %></td>
        <td><%= link_to t('Show'), admin_contact_path(item) %></td>
      </tr>
  <% end %>
  </tbody>
</table>