<div class="card">
  <div class="header">
    <h4 class="title">
      <%= t('Contacts') %>
    </h4>
    <div class="content">

      <%= form_tag admin_contacts_path, :method => 'get', :id => "contacts_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag t("Search"), :name => nil %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
          </p>
      <% end %>

      <div id="contacts"><%= render 'contacts' %></div>
    </div>
  </div>
</div>

