<%= form_for @profile, url:  profile_path, method: 'post' do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">

      <div class="field form-group col-lg-6">
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>


      <div class="field form-group  col-lg-6">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

    </div>

    <div class="row">
      <div class="field form-group  col-lg-6">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>


      <div class="field form-group col-lg-6">
        <%= f.label :age %><br>
        <%= f.text_field :age, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="field form-group col-lg-12">
        <%= f.label :address %><br>
        <%= f.text_area :address , class: 'form-control'%>
      </div>
    </div>
    <!--
    <div class="field form-group">
      <%= f.label :birthdate %><br>
      <%= f.date_select :birthdate %>
    </div>
    :-->
      <%= render 'web/company/privacy/profile' %>

    <div class="actions  text-center">
      <%= f.submit t("Update"), class:'btn btn-primary' %>

      <%= link_to t("Back"), :back, class:'btn btn-default' %>
    </div>

    <div class="text-center">
      <br/>
      <%= link_to  accounts_settings_path , class: 'btn   AppButton' do %>
          <i class="ti-settings"></i> <%= t('Settings') %>
      <% end %>

    </div>
<% end %>
