<%= form_for([:dashboard, @product]) do |f| %>
    <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

          <ul>
            <% @product.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="row col-lg-6">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control border-input" %>
      </div>
      <!--

      <div class="field input-field col-lg-6">
        <%= f.label :brand_id %><br>
        <%= f.collection_select :brand_id, @brands, :id, :name, include_blank: false, class: "form-control border-input" %>
      </div>
      -->
    </div>
    <div class="row">
      <div>
        <%= f.label :pictures %><br>
        <%= f.file_field :pictures, multiple: true %>
      </div>
    </div>

    <div class="row">
      <div>
        <%= f.label :stores %><br>
        <%= f.collection_check_boxes(:store_ids, current_brand.stores, :id, :name) do |fcb| %>
            <div class="col-lg-4">

              <%= fcb.label { fcb.check_box + fcb.text } %>
              <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{fcb.object.latitude},#{fcb.object.longitude}&markers=#{fcb.object.latitude},#{fcb.object.longitude}&zoom=4&size=64x64&key=#{Rails.application.secrets.geocoder['api_key']}",
                            class: 'img-fluid img-rounded', alt: "#{fcb.object.name} on the map" %>
            </div>

        <% end %>
      </div>
    </div>

    <div class="row">
      <div>
        <%= f.label :stores %><br>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, 'name' + (locale.equal?(:en) ? '' : '_' + locale.to_s) ) do |fcb| %>
            <div class="col-lg-4">
              <%= fcb.label { fcb.check_box + fcb.text } %>
            </div>

        <% end %>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="text-center">
      <%= f.submit :class => 'btn btn-info btn-fill btn-wd' %>
      <%= link_to t('Back'), dashboard_products_path %>
    </div>

    <div class="clearfix"></div>
<% end %>