<div class="clearfix">

  <% @products.each do |product| %>
      <div class="col-lg-4 col-md-5">
        <div class="card card-user">
          <div class="image">
            <img src="assets/img/background.jpg" alt="...">
          </div>
          <div class="content">
            <div class="author">
              <img class="avatar border-white" src="assets/img/faces/face-2.jpg" alt="...">
              <h4 class="title"><%= product.name %><br>
                <a href="#">
                  <small>@chetfaker</small>
                </a>
              </h4>
            </div>
            <p class="description text-center">
              <%= product.wishers.size %><br>
              <small><i class="ti-heart"></i></small>
            </p>
          </div>
          <hr>
          <div class="text-center">
            <div class="row">
              <div class="col-md-3 col-md-offset-1">
                <h5>

                  <small> <%= product.comments.size %> <i class="ti-comment"></i></small>
                </h5>
              </div>
              <div class="col-md-4">
                <h5>
                  <small><i class="ti-eye"></i> <%= product.viewers.size %><br></small>
                </h5>
              </div>
              <div class="col-md-3">
                <h5>
                  <small><%= product.shares.size %> <i class="ti-eye"></i></small>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>
