<table class="table table-striped">
  <thead>
  <th><%= I18n.t('Product name') %></th>
  <th><%= I18n.t('Brand') %></th>
  <th><%= I18n.t('Last launch') %></th>
  <th colspan="4"></th>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td>
          <%- if product.in_launch_mode? %>
              <%= link_to I18n.t('Show in action'), product_path(product), :class => 'btn btn-danger' %>
          <% end -%>
          <%= product.name %>

        </td>
        <td><%= product.brand.name %></td>
        <td><%= product.last_launch %></td>
        <td><%= link_to I18n.t('Show'), dashboard_product_path(product) %></td>
        <td><%= link_to I18n.t('Coupons'), dashboard_product_coupons_path(product) %>
        <td><%= link_to I18n.t('Edit'), edit_dashboard_product_path(product) %>
          <%- if product.can_be_launched? %>
              <%= link_to I18n.t('Launch'), launch_dashboard_product_path(product), method: :post, :class => 'btn btn-danger' %>
          <% end -%>
        </td>
        <td><%= link_to I18n.t('Destroy'), dashboard_product_path(product), method: :delete, data: {confirm: I18n.t('Are you sure about that')} %></td>
      </tr>
  <% end %>
  </tbody>
</table>