<% start_time = DateTime.parse("9 AM").to_i
   start_interval = DateTime.parse("11 AM").to_i
   end_interval = DateTime.parse("1 PM").to_i
   end_time = DateTime.parse("11 PM").to_i
   values = (start_time..end_time).step(15.minutes).select { |t| t <= start_interval || t >= end_interval }
%>
<table class="table table-striped">
  <thead>
  <th><%= I18n.t('Product name') %></th>
  <!--<th><%= I18n.t('Brand') %></th>-->
  <th><%= I18n.t('Last launch') %></th>
  <th><%= I18n.t('Launching') %></th>
  </thead>
  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td>
          <%- if product.in_launch_mode? %>
              <%= link_to I18n.t('Show in action'), product_path(product), :class => 'btn btn-success' %>
          <% else %>
              <%- if product.scheduled_for_launch? %>
                  <span class="ti-bolt"></span>
              <% end -%>
          <% end -%>
          <%= product.name %>
          <span class="DashboardProductsList__ItemPicture">
        <% product.pictures.each do |pic| %>
            <%= image_tag get_assets_url(pic.file.small_thumb.to_s) %>
        <% end %>
          </span>

        </td>

        <td><%= product.last_launch %></td>
        <td class="DashboardProductsList__LaunchingButtons">
          <%- if product.can_be_launched? %>
              <div class="DashboardProductsList__LaunchingButtonItem">
                <%= form_for([:dashboard, product], url: launch_dashboard_product_path(product), method: :post) do |f| %>
                    <%= select_tag :start_at, options_for_select(values.map { |t| [Time.at(t).utc.to_datetime.strftime("%H:%M %p"), Time.at(t).utc.to_datetime] }) %>
                    <%= select_tag :end_at, options_for_select(values.map { |t| [Time.at(t).utc.to_datetime.strftime("%H:%M %p"), Time.at(t).utc.to_datetime] }) %>

                    <%= f.submit I18n.t('Launch'), :class => 'btn  btn-sm btn-danger', data: {confirm: I18n.t('Are you sure about that')} %>

                <% end %>

              </div>
              <div class="DashboardProductsList__LaunchingButtonItem">
                <%= react_component('DashboardCollectionProductModalButtonLauncher', {:product_id => product.id, :text => I18n.t('Add to collection')}) %>
              </div>
              <div class="DashboardProductsList__LaunchingButtonItem">
                <%= form_for([:dashboard, product], url: launch_dashboard_product_path(product), method: :post) do |f| %>
                    <%= f.date_field :last_launch, value: '', placeholder: 'MM/DD/YYYY', type: 'datetime' %>
                    <%= f.submit t('Schedule'), :class => 'btn btn-danger btn-sm btn-fill' %>
                <% end %>
              </div>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td colspan="3" class="text-center">
          <div class="btn-group">
            <%= link_to dashboard_product_coupons_path(product), class: "btn btn-icon  btn-fill btn-default" do %>
                <span class="ti-layout-grid4"></span>
            <% end %>
            <%= link_to dashboard_product_path(product), class: "btn btn-icon btn-fill btn-default" do %>
                <span class="ti-dashboard"></span>
            <% end %>
            <%= link_to edit_dashboard_product_path(product), class: "btn btn-icon btn-fill btn-default" do %>
                <span class="ti-pencil-alt"></span>
            <% end %>
            <%= link_to dashboard_product_path(product), class: "btn btn-icon btn-fill btn-danger", method: :delete, data: {confirm: I18n.t('Are you sure about that')} do %>
                <span class="ti-trash"></span>
            <% end %>
          </div>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% content_for :out_wrapper do %>
    <%= react_component('DashboardCollectionsProductModal', {:upload_url => dashboard_brand_galleries_path,
                                                             :authenticity_token => form_authenticity_token}) %>
<% end %>