<%
  view_style = params[:style]
  grid = 'grid'

%>

  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <%= I18n.t('The products') %>
          <%= link_to  dashboard_products_collections_path, class: 'btn btn-primary pull-right' do %>
              <%= t('Collections') %>
          <% end %>

          <%= link_to t('New Product'), new_dashboard_product_path, class: 'pull-right btn btn-primary' %>
          <%= link_to t('Import'), import_dashboard_products_path, class: 'pull-right btn btn-primary' %>
        </h4>
      </div>
      <div class="content table-responsive table-full-width" style="<%= view_style == grid ? '' : '' %> ">
        <% if view_style && view_style == grid %>
            <%= render 'grid' %>
        <% else %>
            <%= render 'list' %>
        <%end %>

        <div class="text-center">
          <%= link_to t('New Product'), new_dashboard_product_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
