<div class="card">
  <div class="header">
    <h4 class="title">
      <%= t('Listing invitations') %>
    </h4>

    <div class="content">

      <%= form_tag admin_invitations_path, :method => 'get', :id => "invitations_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <label><%= t('Confirmed') %></label>
            <%= select_tag :state,  options_for_select(["all", true, false], params[:state]) %>
            <%= submit_tag t('Search'), :name => nil %>
            <%= hidden_field_tag :direction, params[:direction] %>
            <%= hidden_field_tag :sort, params[:sort] %>
          </p>
      <% end %>
      <div id='invitations'><%= render 'list' %></div>
      <div class="row text-center">
        <%= link_to t('New invitation'), new_admin_invitation_path, class: 'btn  btn-primary' %>
      </div>
    </div>
  </div>
</div>

