<%= form_for(@system, url: admin_business_configure_path) do |f| %>
    <div class="header">
      <h4 class="title"><%= t('Crash Email Reports') %></h4>
    </div>
    <div class="content">
      <div class="row">
        <% (@system.crash_mails_alert || []).each do |supported| %>
            <%= supported %>
        <% end %>

        <div class="col-md-12">
          <div class="form-group">
            <%= f.label "email" %>
            <%= f.text_field :crash_mails_alert, class: "form-control border-input", placeholder: "[\"add Email\", \"add Email\"]" %>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-fill btn-wd"><%= t('Add') %></button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
<% end %>