<% input_class = "form-control border-input" %>
<%= form_for([:admin, @category]) do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @category.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: input_class %>
    </div>
    <div class="form-group">
      <%= f.label :name_fr %><br>
      <%= f.text_field :name_fr, class: input_class %>
    </div>
    <div class="form-group">
      <%= f.label :name_ar %><br>
      <%= f.text_field :name_ar, class: input_class %>
    </div>

    <div class="form-group">
      <%= f.label :icon_class_name %><br>
      <%= f.text_field :icon_class_name, class: input_class %>
    </div>
    <div class="form-group">
      <%= f.label :parent_id %><br>
      <%= f.select :parent_id, Category.all.collect{ |p| [ p.name, p.id ] }, include_blank: true, class: input_class %>
    </div>
    <div class="form-group">
      <%= f.label :desc %><br>
      <%= f.text_area :desc, class: input_class %>
    </div>



    <div class="text-center">
      <%= f.submit :class => 'btn btn-info btn-fill btn-wd' %>
      <%= link_to t('Back'), admin_categories_path %>
    </div>
<% end %>
