<div class="card">
  <div class="header">
    <h4 class="title">
      <h4><%= t('Products') %></h4>
    </h4>
    <div class="content">
      <%= form_tag admin_brands_path, :method => 'get', :id => "products_search" do %>
          <p>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag t("search"), :name => nil %>
          </p>
      <% end %>
      <div id="brands"><%= render 'products' %></div>
    </div>
  </div>
</div>



