<div class="container">
  <div class="navbar-header  pull-left">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <ul class="list-unstyled">
        <li>
        </li>
<a class="logo pull-left animated wow fadeInLeft" href="/">
<img alt="Icon" src='<%= asset_path " /logo.png" %>' />
</a>

      </ul>
  </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Create your brand",  new_brand_path %>
        </li>

          <li class="dropdown">
            <%= link_to current_user.username, {}, "class" => "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-haspopup" => "true", "aria-expanded" => "true" %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "Profile",  edit_profile_path(current_user.username) %>
              </li>
              <li>
                <%= link_to "me",  edit_user_registration_path(current_user) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Exit",  destroy_user_session_path, :method => :delete  %>
                </li>
            </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
