<%
   view_style = @view_style || 'list'
%>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <h4 class="title">
          <%= I18n.t('Shops') %>
          <%= link_to  dashboard_brand_brand_stores_path(current_brand, {:style => get_shops_list_style(view_style)}) , class: 'pull-right' do %>
              <i class="<%= get_shops_list_style_icon(view_style) %>"></i>
          <% end %>
        </h4>
      </div>
      <div class="content">
        <% if view_style == 'map' %>
            <%= render 'map' %>
        <% else %>
            <%= render 'list' %>
        <% end %>
        <div class="row text-center">
          <%= link_to t('New Brand store'), new_dashboard_brand_brand_store_path(@brand), class: 'btn  btn-primary' %>
        </div>
      </div>
    </div>
  </div>

</div>
