<!--<div class="FooterContainer">-->
<!--&lt;!&ndash;  End Footer Section  &ndash;&gt;-->
<!--<footer>-->
<!--<div class="container">-->
<!--<div class="col-lg-12 row text-center">-->
<!--<div class="Footer__CompanyLinksContainer">-->
<!---->
<!--<%= render partial: 'shared/locale_form' %>-->
<!---->
<!--<%= link_to I18n.t('join us'), company_page_path('jobs') %>-->
<!---->
<!--&lt;!&ndash;<%= link_to I18n.t('api'), company_page_path('api') %>&ndash;&gt;-->
<!---->
<!--</div>-->
<!--<div class="col-lg-12 text-center Footer__Bottom">-->
<!--© <%= t('app') %>  2017,-->
<!--<span class="Footer__BottomNotice">Proudly build from  <a target="_blank" href="https://www.google.com/maps/place/Sousse,+Tunisia/"> Sousse </a>                                                                          </span>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</footer>-->
<!--</div>-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <h3><%= I18n.t('Need help?') %></h3>
        <a href="tel://004542344599" id="phone">+216 123456</a>
        <a href="mailto:help@yallapingo.com" id="email_footer">help@yallapingo.com</a>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3><%= I18n.t('Discover') %></h3>
        <ul>
          <li><%= link_to I18n.t('Sign up'), new_user_registration_path %></li>
          <li><%= link_to I18n.t('Already have an account ?'), new_user_session_path %></li>
          <li><%= link_to I18n.t('privacy'), company_page_path('terms_privacy') %></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-3">
        <h3><%= t('Contact') %></h3>
        <ul>
          <li><%= link_to I18n.t('Business'), business_index_path %></li>
          <li><%= link_to I18n.t('About'), company_page_path('about') %></li>
          <li><%= link_to I18n.t('help'), company_page_path('help') %></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-3">
        <h3><%= t('Settings') %></h3>
        <div class="styled-select">
          <%= form_tag('/', :method => 'get') do %>
              <select class="form-control" name="locale" id="select_locale">
                <option value="en" <% if locale.to_s == 'en'%> selected <% end %>>English</option>
                <option value="ar" <% if locale.to_s == 'ar'%> selected <% end %>>العربية</option>
                <option value="fr" <% if locale.to_s == 'fr'%> selected <% end %>>Français</option>
              </select>
          <% end %>
        </div>
        <!--<div class="styled-select">-->
        <!--<select class="form-control" name="currency" id="currency">-->
        <!--<option value="USD" selected>USD</option>-->
        <!--<option value="EUR">EUR</option>-->
        <!--<option value="GBP">GBP</option>-->
        <!--<option value="RUB">RUB</option>-->
        <!--</select>-->
        <!--</div>-->
      </div>
    </div><!-- End row -->
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <ul>
            <li><a href="https://www.facebook.com/YallaPingo/" target="_blank"><i class="icon-facebook"></i></a></li>
            <li><a href="https://medium.com/@yallapingo" target="_blank" ><i class="yalla_fontello-medium"></i></a></li>
          </ul>
          <p>© <%= t('app') %> 2017</p>
        </div>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer><!-- End footer -->

<div id="toTop"></div><!-- Back to top button -->


<!-- Cookie bar script -->
<script>
  $(document).ready(function () {
    'use strict';
    $.cookieBar({
      fixed: true
    });
    $('#select_locale').change(function (){
      $(this).parent('form').submit();
    })
  });
</script>