<div class="FooterContainer">
  <!--  End Footer Section  -->
  <footer>
    <div class="container">
      <div class="col-lg-12 row text-center">
        <div class="Footer__CompanyLinksContainer">
          <%= link_to I18n.t('Business'), business_index_path, class: 'businessLink' %>
          <%= render partial: 'shared/locale_form' %>
          <%= link_to I18n.t('About'), company_page_path('about') %>
          <%= link_to I18n.t('join us'), company_page_path('jobs') %>
          <%= link_to I18n.t('privacy'), company_page_path('terms_privacy') %>
          <!--<%= link_to I18n.t('api'), company_page_path('api') %>-->
          <%= link_to I18n.t('help'), company_page_path('help') %>
        </div>
        <div class="col-lg-12 text-center Footer__Bottom">
          © <%= t('app') %>  2017,
          <span class="Footer__BottomNotice">Proudly build from  <a target="_blank" href="https://www.google.com/maps/place/Sousse,+Tunisia/"> Sousse </a>                                                                          </span>
        </div>
      </div>
    </div>

  </footer>
</div>