<div>

  <!--  End Footer Section  -->
  <footer>
    <div class="container">
      <div class="col-lg-12 row text-center">
        <div class="Footer__CompanyLinksContainer">
          <%= link_to I18n.t('Business'), company_page_path('business') %>
          <%= link_to 'about', company_page_path('about') %>
          <%= link_to I18n.t('About'), company_page_path('pluto') %>
          <%= link_to I18n.t('join us'), company_page_path('jobs') %>
          <%= link_to I18n.t('privacy'), company_page_path('privacy') %>
          <%= link_to I18n.t('api'), company_page_path('api') %>
          <%= link_to I18n.t('help'), company_page_path('help') %>
          <span class="card-separator"></span>

          <a href="#"><i class=" Footer__BottomIconLink ti-facebook"></i></a>
          <a href="#"><i class="Footer__BottomIconLink ti-linkedin"></i></a>
          <a href="#"><i class="Footer__BottomIconLink ti-twitter"></i></a>
          © <%= I18n.t('app') %>
        </div>
      </div>
    </div>

  </footer>
</div>