<% admin_menu_links = [
    admin_main_path,
    admin_business_requests_path,
    admin_invitations_path,
    admin_business_accounts_path,
    admin_contacts_path,
    admin_brands_path,
    admin_products_path,
    admin_accounts_path,
    admin_categories_path,
    admin_business_configure_path,
    admin_system_path
] %>
<% content_for :title do %>
    <%= content_for?(:title) ? yield(:title) : t('app') %>
<% end %>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :body do %>
    <div class="wrapper">
      <div class="sidebar">

        <div class="sidebar-wrapper">
          <ul class="nav">
            <% $admin_menu_names.each_with_index do |tab, index| %>
                <li data-tab="<%= tab %>" class="<%= get_admin_sidebar_item(@active_tab, tab.downcase) %> ">
                  <a href="<%= admin_menu_links[index] %>">
                    <i class="ti-<%= $admin_menu_icons[index] %>"></i>

                    <p><%= I18n.t(tab) %></p>
                  </a>
                </li>

            <% end %>
          </ul>
        </div>

      </div>
      <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <%= content_for?(:main_content) ? yield(:main_content) : yield %>
            </div>
            <%= render partial: 'shared/locale_form' %>

              <%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="ti-lock"></i> Exit
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
<% end %>


<%= render template: 'layouts/default' %>
<%= react_component('AdminBaseApp') %>
