
<% content_for :title do %>
    <%= content_for?(:title) ? yield(:title) : t('app') %>
<% end %>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% full_template = with_full_header? %>

<% content_for :body do %>
    <body class="<%= (@is_logged_in and !hide_side_bar?) ? '' : 'hello' %>">

    <%- if full_template %>
        <%= render :partial => 'header/mini_header' %>
    <%- else -%>
        <%= render :partial => 'header/header' %>
    <% end -%>
    <%- if not @is_logged_in and (%w(welcome products).include?(controller_name)) %>
        <div class="Cover">

        </div>
    <% end -%>
    <%- unless @is_logged_in %>
        <%= render template: 'devise/sessions/new_modal' %>
        <%= render template: 'devise/registrations/new_modal' %>
    <% end -%>
    <%= content_for?(:outside_main) ? yield(:outside_main) : '' %>

    <main class="container AppContainer">
      <div>
        <div class="<%= full_template ? '' : 'col-lg-8 NoPadding' %>">
          <%= content_for?(:main_content) ? yield(:main_content) : yield %>
        </div>
        <div class="<%= full_template ? '' : 'col-lg-4' %>">
          <%- if not full_template %>
                <%= react_component('SideBar', {is_logged_in: @is_logged_in}) %>
          <%- end %>
        </div>
      </div>

    </main>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= content_for?(:scripts) ? yield(:scripts) : '' %>

<% end %>

<%= render template: 'layouts/default' %>
