<% content_for :title do %>
    <%= content_for?(:title) ? yield(:title) : t('app') %>
<% end %>

<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% full_template = with_full_header? %>

<% content_for :body do %>
    <body class="<%= (@is_logged_in and !hide_side_bar?) ? '' : 'hello' %>">
    <div>

      <%- if full_template and !@show_full_header %>
          <%= render :partial => 'header/mini_header' %>
      <%- else -%>
          <%= render :partial => 'header/header' %>
      <% end -%>

      <%- unless @is_logged_in %>
          <%= render template: 'devise/sessions/new_modal' %>
          <%= render template: 'devise/registrations/new_modal' %>
      <% end -%>

      <%= content_for?(:main_content) ? yield(:main_content) : yield %>
      <div class="<%= full_template ? '' : 'col-lg-4' %>">
        <%- if not full_template %>
            <%= render partial: 'shared/sidebar' %>
        <%- end %>
      </div>
      </main>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

      <%= render partial: 'layouts/footer' %>

      <%= content_for?(:scripts) ? yield(:scripts) : '' %>
    </div>

<% end %>

<%= render template: 'layouts/default' %>
