<% content_for :title do %>
    <%= t('app') %> | dashboard > <%= controller_name %>
<% end %>

<% content_for :ws_connection, 'dashboard' %>


<% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :body do %>
    <div class="wrapper">
      <% if @show_sidebar %>
          <div class="sidebar" data-background-color="white" data-active-color="danger">
            <!--
            Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
            Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
          -->
            <div class="sidebar-wrapper">
              <div class="logo">
                <%= form_for [@dashboard, current_brand], :html => {:multipart => true}, method: 'POST', url: upload_dashboard_brand_path(current_brand) do |f| %>
                    <%= react_component('DashboardBoardSideBarBrandBlock', {:image => current_brand.picture.url(:thumb), :type => 'picture'}) %>
                <% end %>
                <%= link_to dashboard_main_path do %>
                    <span class="simple-text"><%= current_brand.name %></span>
                <% end %>
              </div>

              <ul class="nav">
                <% $dashboard_tabs_links.each_with_index do |tab, index| %>
                    <li class="<%= get_active_sidebar_item(@active_tab, tab.downcase) %> ">
                      <a href="<%= get_tab_link(tab) %>" class="<%= get_class_active(tab) %>">
                        <%- if $dashboard_tabs_soon.include?(tab.downcase) %>
                            <i class="ti-lock"></i>
                        <% else %>
                            <i class="ti-<%= $dashboard_tabs_icons[index] %>"></i>

                        <% end %>
                        <p><%= I18n.t($dashboard_tabs[index]) %></p>
                      </a>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
      <% else %>
          <div class="sidebar" data-background-color="#ff5" data-active-color="warning"></div>
      <% end %>
      <div class="main-panel">
        <nav class="navbar navbar-default">

          <div class="container-fluid">
            <%= react_component('DashboardRTConnectorIndicator') %>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
              </button>
              <a class="navbar-brand" href='<%= dashboard_main_path %>'><%= t('Dashboard') %> <%= content_for?(:crumb) ? '/' + yield(:crumb) : '' %> </a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%- unless %w(upgrade upgrade_form).include?(action_name) %>
                      <%- if current_user.can_have_trial_business? %>
                          <%- if action_name != 'free_trial' %>
                              <!--<a href="<%= dashboard_free_trial_path %>" class="btn btn-danger"><%= t('Try basic for month free') %></a>-->
                          <% end -%>
                      <%- else %>
                          <%- if (not current_user.in_trial_mode?) && current_user.is_business_free? %>
                              <a href="<%= dashboard_upgrade_form_path %>" class="btn btn-danger">Upgrade</a>
                          <% end -%>
                      <% end -%>
                  <% end -%>
                </li>
                <%= react_component('DashboardNotifier', {'link_to': dashboard_notifications_path}, {:tag => 'li'}) %>


                <li>
                  <%= link_to profile_edit_path do %>
                      <i class="ti-user"></i>
                  <% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                      <i class="ti-lock"></i>
                  <% end %>
                </li>
                <li>
                </li>
              </ul>

            </div>
          </div>
        </nav>


        <div class="content DashboardMainContainer">
          <div class="container-fluid">
            <div class="row">
              <%= yield %>

            </div>
          </div>

        </div>

        <%= render partial: 'dashboard/partials/footer' %>
      </div>
    </div>

    <%= content_for?(:out_wrapper) ? yield(:out_wrapper) : '' %>

    <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>

    <%- if flash[:notice] %>
        <div class="flash" data-type="success" data-text="<%= flash[:notice] %>"></div>
    <% end -%>
    <%- if flash[:error] %>
        <div class="flash" data-type="danger" data-text="<%= flash[:error] %>"></div>
    <% end -%>

    <script>
      <% content_for?(:scripts) ? yield(:scripts) : '' %>
    </script>
<% end %>

<%= render template: 'layouts/default' %>
