<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>

  <title>
    <%= content_for?(:title) ? yield(:title) : t('app') %>
  </title>

  <%= stylesheet_link_tag 'vendor', media: 'all', 'data-turbolinks-track' => true %>

  <% if I18n.locale.equal?(:ar) %>
      <%= stylesheet_link_tag 'rtl', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
      <%= stylesheet_link_tag 'ltr', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>

  <%= content_for?(:stylesheets) ? yield(:stylesheets) : '' %>


  <%= csrf_meta_tags %>
</head>

<body>
<%- if Rails.env == 'staging' %>
    <div class="alert alert-danger" style="position: absolute;
        left: 0px;
        z-index: 50000;
        font-size: 8px;">
      Staging
    </div>
<% end -%>
<%= render partial: 'shared/i18n/' + locale.to_s %>

<%= content_for?(:body) ? yield(:body) : yield %>

<%= content_for?(:scripts) ? yield(:scripts) : '' %>

<div id="ws_config" data-host="<%= ws_app_host? %>" data-user="<%= ws_app_user? %>" data-connection="<%= content_for?(:ws_connection) ? yield(:ws_connection) : '' %>"></div>
</body>
</html>
